
.matrix-label {
	font-size: 10px;
}

path {
	shape-rendering: crispedges;
}

.container{
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;

}

#chart-area {
  grid-row: 1 / span 2;
  grid-column: 1;
  background: #f9f9f9;
  border-radius: 10px;
}

#side-top {
  grid-row: 1;
  grid-column: 2;
  background: #f9f9f9;
  border-radius: 10px;
}

#side-bottom {
  grid-row: 2;
  grid-column: 2;
  background: #f9f9f9;
  border-radius: 10px;
}

.title {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 26px;
  font-weight: 600;
  fill: #222;
  text-anchor: middle;
}

.subtitle {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  fill: #666;
  text-anchor: middle;
}
